<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <style>
        /* .red{background-color: red;}
        .green{background-color: green;}
        .yellow{background-color: yellow;}
        .width{width: 200px;} */
        .box{
            width: 200px;
            height: 200px;
        }
        .red{
            background-color: red;
        }
        .blue{
            background-color:blue;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- {{a}} -->
        <!-- v-bind 绑定属性 简写为“：”-->
        <!-- class[{判断class1是否应用 可以写成red:true 或者写成三元表达式h4Flag ? "red":"" 或者 h4Flag&&red(前面的值为true返回后面的值，若前面的值为false，则返回false)},class2，class2] -->
        <!-- <h4 :class="[{red: h4Flag},h4Width]">{{name}}</h4> -->
        <!--  style {}[] -->
        <!-- <img v-bind:src="imgUrl" :alt="name" :style="[{width:imgWidth},imgStyle]"> -->
        <!-- v-on：事件监听，简写为@   $event 事件对象-->
        <!-- <button @click="handleClick($event,4)">点击</button>
        <h4 :class="h4ClassArr[h4Index]">{{name}}</h4> -->
        <!-- <button @click="handleClick">{{text}}</button> -->
        <!-- v-if:控制标签的显示与隐藏 v-if没显示 则v-else显示，两者不能同时显示 -->
        <!-- <div class="box red" v-if="show"></div>
        <div class="box blue" v-else></div> -->
        <!-- template不会显示在页面上（vue提供），对v-if生效，对v-show不生效 -->
        <!-- <template v-if="show">
                <div class="box red" ></div>
                <div class="box blue"></div>
        </template> -->
        <!-- v-for:可以循环数组、对象、数字、字符串等 -->
        <!-- <ul>
            <li v-for="(item,index) in arrt">{{item}}---{{index}}</li>
        </ul>
        <h4 v-for="(value,key,index) in obj">{{value}}---{{key}}---{{index}}</h4>
        <h4 v-for="item in 10">{{item}}</h4>
        <h4 v-for="item in 'fbbfdkjbfjksdsbfj' ">{{item}}</h4> -->
        <!-- v-model 实现数据的双向（视图和data里面的值）绑定 ：value+@input的语法糖-->
        <!-- 输入框 -->
        <!-- <input type="text" v-model="value"> -->
        <!-- <span>{{value}}</span>  -->
        <!-- 单选框 -->
        <!-- <input type="checkbox" v-model="checkedd">
        <span>{{checkedd}}</span>  -->
        <!-- 复选框 -->
        <!-- <label for="html">html</label>
        <input type="checkbox" id="html" value="html" v-model="checkedList">
        <label for="js">js</label>
        <input type="checkbox" id="js" value="js" v-model="checkedList">
        <label for="vue">vue</label>
        <input type="checkbox" id="vue" value="vue" v-model="checkedList">
        <span>{{checkedList}}</span>
         -->
        <!-- 单选框 -->
        <!-- <label for="html">html</label>
        <input type="radio" id="html" value="html" v-model="picked">
        <label for="js">js</label>
        <input type="radio" id="js" value="js" v-model="picked">
        <label for="vue">vue</label>
        <input type="radio" id="vue" value="vue" v-model="picked">
        <span>{{picked}}</span> -->
        <!-- select下拉框(单选) -->
        <!-- <select name="" id="" v-model="selected">
            <option value=""  disabled>请选择</option>
            <option value="html">html</option>
            <option value="js">js</option>
            <option value="vue">vue</option>
        </select>
        <span>{{selected}}</span> -->
        <!-- select下拉框(多选 需要按住ctrl键多选) -->
        <!-- <select name="" id="" v-model="selectedList" multiple>
            <option value="html">html</option>
            <option value="js">js</option>
            <option value="vue">vue</option>
        </select>
        <span>{{selectedList}}</span> -->
        <!-- watch侦听器 -->
        <!-- {{desc}} -->
        <!-- computed 计算属性 -->
        <!-- data>method>computed -->

        <!-- 全局组件 局部组件 -->
        <hello-world></hello-world>
    </div>
    <script>
        // const vm = new Vue({
        //     el:"#app",
        //     data:{
        //         a:100
        //     }    
        // })
        // //vm.$mount("#app"); 与el作用一样，没写el,可以mount这个代替
        // vm.a = 200;
        // console.log(vm.a);
        // console.log(vm.$data);
        // console.log(vm.$el.innerHTML);//打印出100，因为页面是异步更新视图，主线程是单线程的，先执行同步代码，后执行异步代码，异步是先执行微任务，再执行宏任务
        // //解决办法
        // vm.$nextTick(()=>{
        //     console.log(vm.$el.innerHTML);
        // })
        
        // const vm = new Vue({
            // el:"#app",
            // data:{
            //     name:"我的图片",
            //     imgUrl:"http://pic13.nipic.com/20110409/7119492_114440620000_2.jpg",
            //     h4Class:"red",
            //     h4Width:"width",
            //     h4Flag:true,
            //     imgWidth:"200px",
            //     imgStyle:{
            //         border:"10px solid red"
            //     },
            //     h4ClassArr:["red","green","yellow"],
            //     h4Index:0,
            //     h4Count:0
            // },
            // methods:{
            //     handleClick(num){
            //         // console.log(num)//第一个参数打印出事件对象
            //         this.h4Index = ++this.h4Count%3;
            //     }
            // }
            // data:{
                // show:true,
                // text:"隐藏"
                // name:"yyy",
                // age:18,
                // arrt:["html","js","vue"],
                // obj:{
                //     name:"yss",
                //     age:18,
                //     looks:"nice",
                    
                // },
                // value:"傻傻",
                // checkedd:true,
                // checkedList:[],
                // picked:"",
                // selected:"",
                // selectedList:[],
                //desc:"姓名 ：傻傻 年龄：18 "
            // },
            // methods:{
                //  handleClick () {
                //     this.show=!this.show;
                //     this.text=this.show ? "隐藏":"显示"
                //     //console.log(this.show);
                // 不能通过索引和下标的方式更改数组，这样不会渲染页面。
                //this.arrt[this.arrt.length]="rrr",
                // this.arrt.length = 2;
                // 可以通过数组的变异方法：pop、shift、unshift、reverse、splice、sort、push   
                // this.arrt.push("rrr")
                // 向对象内添加或删除数据 不会渲染
                //this.obj.salary=1000,
                //delete this.obj.name;
                //可以通过vm.$set()方法
                // this.$set(this.obj,"salary",1000);
                //  }
               
            // },
            // watch : {
            //     name (){
            //         this.desc = "姓名:"+this.name+"年龄"+this.age;//this.desc = '姓名: ${this.name} 年龄：${this.age}' 为什么执行不了？？                
            //     },
            //     age (){
            //         this.desc = "姓名:"+this.name+"年龄"+this.age;//this.desc = '姓名: ${this.name} 年龄：${this.age}' 为什么执行不了？？
            //     }
            // },
            // computed:{
            //     desc(){
            //         return  "姓名:"+this.name+"年龄"+this.age;
            //     }
            // }
        // })


        //全局组件
        // Vue.component('helloWorld',{
        //     data(){//data必须写成一个函数 不然data值的变化 会影响所有应用这个组件的界面显示
        //         return {
        //             msg:'hello world'
        //         }
        //     },
        //     template://组件模板 注意书写div要包含在``里面
        //         `
        //         <div>
        //             <button @click=handleClick>点击</button>
        //             <span>{{msg}}</span>
        //         </div>

        //         ` 
        //     ,
        //     methods:{
        //         handleClick(){
        //             this.msg="haha";
        //         }
        //     }
        // })

        //局部组件(若全局组件和局部组件名称一样，则局部组件优先)
        // const vm = new Vue({
        //     el:'#app',
        //     data:{

        //     },
        //     components:{//注意要加s
        //         'helloworld':{
        //             template:`<div>hello<\div>`
        //         } 
        //     }
        // })

        // 组件数据传递&属性校验
        // 父->子 传值 props 校验  v-bind="Object"--传递对象属性
        // 子->父 传值 $emit('handle',value);

        // 1.ref:dom对象的引用是该对象，组件的引用是组件的实例对象
        // 2.ref同名时，后添加的会覆盖前面的，引用指向的是最后一个元素
        // 3.在v-for时添加引用，引用的值类型时的数组，数组里面是一个一个dom对象/组件实例对象

        
    </script>
</body>
</html>